.carousel__info .carousel__info__wrapper {
  padding: 2rem 0;
}

.carousel__info .carousel__info__header .carousel__info__title {
  font: normal 800 24px/1 var(--nunito-font);
  color: var(--black-color);
  text-transform: uppercase;
}

.carousel__info .carousel__info__header .carousel__info__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 4px;
  padding: 0.5rem 0 1.5rem;
}

.carousel__info .carousel__info__header .carousel__info__rating>p {
  font: normal 700 14px/1 var(--nunito-font);
  color: var(--black-color);
  opacity: .8;
}

.carousel__info .carousel__info__header p.carousel__info__price {
  font: normal 800 28px/1 var(--nunito-font);
  color: var(--black-color);
}

.carousel__info .carousel__info__body {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  padding: 32px 0;
}

.carousel__info .carousel__info__body p.carousel__info__description {
  font: normal 400 16px/1.35 var(--nunito-font);
  color: var(--black-color);
}

.carousel__info .carousel__info__body .carousel__info__options {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}

.carousel__info .carousel__info__body .carousel__info__size>p {
  font: normal 400 16px/1 var(--nunito-font);
  color: var(--black-color);
  margin: 0 0 12px;
}

.carousel__info .carousel__info__body .carousel__info__size>ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
  width: 100%;
  list-style: none;
  padding: 0;
}

.carousel__info .carousel__info__body .carousel__info__size>ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font: normal 600 16px/1 var(--nunito-font);
  outline: 1px solid var(--input-gray);
  cursor: pointer;
}

.carousel__info .carousel__info__body .carousel__info__colors>p {
  font: normal 400 16px/1 var(--nunito-font);
  color: var(--black-color);
  margin: 0 0 12px;
}

.carousel__info .carousel__info__footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px 0;
}

.carousel__info .carousel__info__footer p.carousel__info__shipment {
  flex-basis: 100%;
  font: normal 400 14px/1 var(--nunito-font);
}

.carousel__info .carousel__info__footer p.carousel__info__shipment span {
  font: normal 700 14px/1 var(--nunito-font);
  text-decoration: underline;
}

.carousel__info .carousel__info__footer .carousel__info__count {
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border: 1px solid var(--input-gray);
}

.carousel__info .carousel__info__count button {
  font: normal 800 16px/1 var(--nunito-font);
  width: 40px;
  height: 100%;
  background-color: var(--input-gray);
  border: none;
  cursor: pointer;
}

.carousel__info .carousel__info__count button:hover {
  background-color: var(--input-gray);
}

.carousel__info .carousel__info__count .carousel__info__items {
  width: 20px;
  text-align: center;
}

.carousel__info .carousel__info__count .carousel__info__items>span {
  font: normal 600 16px/1 var(--nunito-font);
  color: var(--black-color);
}

.carousel__info .carousel__info__footer .carousel__info__button {
  flex-basis: 100%;
  width: 100%;
  height: 56px;
  background-color: var(--bg-button-black);
  border: none;
  margin: 12px 0 0;
  cursor: pointer;
}

.carousel__info .carousel__info__footer .carousel__info__button>span {
  display: inline-block;
  font: normal 600 13px/1 var(--nunito-font);
  letter-spacing: .6px;
  text-transform: uppercase;
  color: var(--white-color);
}

@media only screen and (min-width: 1024px) {
  .carousel__info .carousel__info__wrapper {
    padding: 0;
  }

  .carousel__info .carousel__info__footer .carousel__info__count {
    max-width: 160px;
    height: 56px;
  }

  .carousel__info .carousel__info__body .carousel__info__options {
    flex-direction: row;
    gap: 0 60px;
  }
}

@media only screen and (min-width: 1600px) {
  .carousel__info .carousel__info__body p.carousel__info__description {
    max-width: 46ch;
    line-height: 1.5;
  }

  .carousel__info .carousel__info__footer {
    justify-content: flex-start;
    gap: 28px 32px;
  }

  .carousel__info .carousel__info__footer .carousel__info__button {
    flex-basis: 50%;
    margin: 0;
  }
}